@using TP10_PreguntadORT.Models
@{
    ViewData["Title"] = "Jugar";

    string username = ViewBag.Username  "";
    int puntaje = ViewBag.Puntaje  0;
    int nro = ViewBag.Numero  1;

    Pregunta pregunta = ViewBag.Pregunta;
    List<Respuesta> respuestas = ViewBag.Respuestas;
}

@if (pregunta == null)
{
    <h2>No hay más preguntas disponibles</h2>
    <p><a href='@Url.Action("ConfigurarJuego","Home")'>Volver a jugar</a></p>
}
else
{
    <h1>PreguntadORT</h1>
    <p>Usuario: <strong>@username</strong></p>
    <p id="puntaje">Puntaje: @puntaje</p>

    <h3>Pregunta @nro</h3>
    <p>@pregunta.Enunciado</p>

    <div id="respuestas">
        @foreach (var respuesta in respuestas)
        {
            <button type="button"
                    onclick="mostrarResultado('@respuesta.Contenido', @respuesta.Correcta.ToString().ToLower())">
                @respuesta.Opcion) @respuesta.Contenido
            </button>
        }
    </div>

    <p id="mensaje"></p>

    <br />
    <a href='@Url.Action("Jugar","Home")'>Siguiente pregunta</a>
}

@section Scripts {
<script src="js/site.js"></script>}